.icon-st{ background-image: url(../images/logo-OT.png) !important;}
.redux-dev-mode-notice-container.redux-dev-qtip { display: none; }
.rAds {width: 0;height: 0;visibility: hidden;}
.redux-messageredux-notice {display: none !important;}